<ng-container *ngIf="div1Visible">
  <div id="London" class="tabcontent">
    <h1>London</h1>
    <p>London is the capital city of England.</p>
  </div>
</ng-container>
<ng-container *ngIf="div2Visible">
  <div id="Paris" class="tabcontent">
    <h1>Paris</h1>
    <p>Paris is the capital of France.</p>
  </div>
</ng-container>
<ng-container *ngIf="div3Visible">
  <div id="Tokyo" class="tabcontent">
    <h1>Tokyo</h1>
    <p>Tokyo is the capital of Japan.</p>
  </div>
</ng-container>
<ng-container *ngIf="div4Visible">
  <div id="Oslo" class="tabcontent">
    <h1>Oslo</h1>
    
    <div class="Day-Time"><p>day</p><p>date</p> </div>
    <div class="Time"><p >time</p></div>
    <span>img</span>
  </div>
</ng-container>



<button class="tablink" (click)="showDiv1()">{{btnOne}}</button>
<button class="tablink" (click)="showDiv2()">{{btnTwo}}</button>
<button class="tablink" (click)="showDiv3()">{{btnThr}}</button>
<button class="tablink" (click)="showDiv4()">{{btnFour}}</button>