/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */

:root {
  --primary-color:white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 1000px;
    padding: 50px;
    background: var(--primary-color);
}
img {
  width: 100%;
}
.wrapper {
  display: flex;
  width: 1310px;
  min-width: 900px;
  border-radius: 20px;
  overflow: hidden;
  margin-left:7%;
}
.sidebar {
  width: 30%;
  min-width: 250px;
  padding: 20px;
  /* background:white; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.5;

}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
  position: relative;
}
.search input {
  width: 100%;
  height: 40px;
  border: 1px solid #ced4da;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0 15px;
  font-size: 14px;
  color:#000;
  background-color: white;
}
.search input:focus {
  outline: none;
  border: 1px solid white;
}
.search button {
  min-width: 40px;
  height: 38px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background:#121212;
  /* color: #7f0d0d; */
  font-size: 14px;
  cursor: pointer;
}


.weather-icon {
  width: 100%;
  height: 150px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
.weather-icon #icon {
  width: 80%;
  object-fit: cover;
  border-radius: 50%;
}
.temperature {
  display: flex;
  color:white;

}
.temperature #temp {
  font-size: 70px;
  font-weight: 100;
  line-height: 1;
  color:white;
}
.temperature span {
  font-size: 40px;
  margin-top: -10px;
  display: block;
}
.divider {
  width: 100%;
  height: 1px;
  /* background: #515458; */
  margin: 20px 0;
  

}
.condition-rain {
  font-size: 12px;
  text-transform: capitalize;
}
.condition-rain div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.condition-rain div i {
  width: 20px;
}
.location ,#location{
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  margin-top: 10px;
  color:white;
}
.main {
  width: 100%;
  min-width: 400px;
  padding: 20px 40px;
  /* background-color: #f6f6f8; */
  position: relative;
  padding-bottom: 90px;
  opacity: 0.6;

}

.main nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main nav .options {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main nav .options button {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}
.main nav .options button:active {
  /* color: var(--primary-color); */
  background-color: #1a1a1a;
  color: white;

}

.main nav .units button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #1a1a1a;
  background-color: #fff;
}
.main nav .units button:active {
  color: white;
  background-color: #1a1a1a;
}
.main .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.cards .card {
  width: 100px;
  height: 130px;
  border-radius: 20px;
  color: #1a1a1a;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.card h2 {
  font-size: 15px;
  font-weight: 600;
}
.card .card-icon {
  width: 50%;
  margin: 0 auto;
}
.card .day-temp {
  font-size: 12px;
  display: flex;
  justify-content: center;
  display: flex;
}
.highlights {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}
.highlights .heading {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  color:white;
}

.card2 {
  width: 250px;
  height: 150px;
  border-radius: 20px;
  color: #1a1a1a;
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.card2 .card-heading {
  color:#000
}
.discription{
  animation: mymove infinite;
  animation-duration: 15s; 
   position: relative;
 margin-left: 70%;
 margin-top: 2%;
 color:white;
}
h5{
  color:white;
}
@keyframes mymove {
  from {right:0px;}
  to {right: 680px;}
}

.card2 .content {
  margin-top: 20px;
}
.card2 .content p:first-child {
  text-align: center;
  font-size: 30px;
}
.card2 .content p:nth-child(2) {
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
}
.credits {
  text-align: center;
  font-size: 12px;
  color: #c2c2c2;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}