.card2{
  width: 100px;
  height: 150px;
  border-radius: 20px;
  color: black;
  font-weight: 900;
  background-color: #9db9f1;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
 opacity: 1;
 box-shadow: 5px 10px;

}
.card2 .day-temp {
  font-size: 12px;
  justify-content: center;
}
.temp{
  font-size: 10px;
  margin-top:2%;
}
.card2 h2 {
  font-size: 15px;
  font-weight: 600;
}
.day-icon {
  width:40px;
  height: 40px;
 border-radius: 60%;

}
.vars{
  display:grid;
  grid-template-columns: auto auto auto auto auto  auto auto auto;
margin-left:-1.8%;


  /* flex-wrap: nowrap; */
}